body {
    background-image: url(tile.jpg) ;
}

.header  { 
   text-align: center;
   margin-top: 6%;
}

.taskDateDiv {
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
    padding: 8px;
    /* background-color: #04AA6D; */
    font-size: 75%;
    border-top: tomato 2px solid;
}

label {
    margin-top: 50px;
    color: white;
    padding: 8px;
    background-color: #04AA6D;
    border-radius: 7%
}

.task {
    display: flex;
   background-image : url('notebg.png');
   flex-wrap: wrap;
   flex-direction: column;
   height : "20%"
}

.containerDiv {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.deleteButton {
    position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}


.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


.board{
    margin: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("./formbg.jpg");
    width: 50%;
    height: 70px;
}
.buttons {
    margin-top: 10%;
}


.input {
    margin-top: 12%;
    width: 300px;
    background: rgba(255,255,255,.5);
    font : inherit;
    line-height : normal;
    box-sizing: border-box;
    background: static;
    position : relative;

    /* background: transparent;
    border: none; */
}

#missioninput {
    margin-top: 5%;
}



.board1 {
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url("./formbg.jpg");
    width: 50%;
    height: 70px;
}

.board2 {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 70px;
    background-image: url("./formbg.jpg");
    width: 50%;
}
.board3 {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 70px;
    background-image: url("./formbg.jpg");
    width: 50%;
    
}