body {
    background-image: url(tile.jpg) ;
  }
  .header  { 
   text-align: center;
   margin-top: 6%;
  }
  
  .taskDateDiv {
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
    padding: 8px;
    /* background-color: #04AA6D; */
    font-size: 75%;
    border-top: tomato 2px solid;
  }
  label {
    margin-top: 50px;
    color: white;
    padding: 8px;
    background-color: #04AA6D;
    border-radius: 7%
  }
  .task {
    display: flex;
   background-image : url('notebg.png');
   flex-wrap: wrap;
   flex-direction: column;
   height : "20%";
   -webkit-animation : fadein 2s;
    }
  .containerDiv {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  .deleteButton {
    position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  }
  .board{
    margin: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("./formbg.jpg");
    width: 50%;
    height: 70px;
  }
  .buttons {
    margin-top: 10%;
  }
  .input {
    margin-top: 12%;
    width: 300px;
    background: rgba(255,255,255,.5);
    font : inherit;
    line-height : normal;
    box-sizing: border-box;
    background: static;
    position : relative;
    margin-right: 30px;
  }
  #missioninput {
    margin-top: 5%;
  }
  .board1 {
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url("./formbg.jpg");
    width: 50%;
    height: 70px;
  }
  .board2 {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 70px;
    background-image: url("./formbg.jpg");
    width: 50%;
  }
  .board3 {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 70px;
    background-image: url("./formbg.jpg");
    width: 50%;
    
  }
  /* .deleteButtonDiv > button:hover { filter: brightness(150%) }
.deleteButtonDiv > button[type=submit] {
    color: green;
    transition: all .4s;
} */
/* .deleteButtonDiv > button[type=reset] {
    color: blue;
    transition: all .4s;
}
.deleteButton:hover { 
  color:rgba(0, 0, 0, 0.8) 
} */

  .deleteButtonDiv button {
    margin-top: 5px;
    float: right;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5em;

  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein { 
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
